


<li class="available d-flex align-items-center justify-content-between">
    <h5> {{ burger_name }} </h5>
    <button type="button" class="devour btn btn-success" data-id="{{ id }}"><i
            class="fas fa-utensils fa-2x"></i></button>
</li>
